.titulo{
    text-align: center;
    margin:25px;
    font-size: 2em;
    }

/* Estilos para el icono en el botón */
.mat-icon {
    font-size: 20px; 
    margin-right: 8px; 
    color: #10e43a; 
  }
  